/* ########### LAYOUTS ############## */

/* header */
.head{
    position: fixed;
    width: 100%;
    background-color: var(--clr-white);
}
.header-top{
    margin-bottom: 27px;
}
.header-top-info-item{
    
}
.header .info-item-icon{
    width: 48px;
}
.header .header-top-info-item{
    grid-template-columns: 64px auto;
    margin-left: 24px;
}
.header .header-top-info-item .info-item-text span:first-child{
    margin-bottom: 8px;
}
.header-top-r .header-top-btn{
   margin-left: 24px;
}
.navbar-brand img{
    width: 280px;
}


/* navbar */
.navbar-content{
    height: 40px;
}
.nav-item{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item-active{
    background-color: var(--clr-eeric-black);
}
.nav-link{
    letter-spacing: 0.04em;
}

.nav-social-links a{
    margin-left: 24px;
}



/* ########### HOME PAGE ############## */

.first-block{
    background-image: url(../images/pg_index/Rectangle\ 2\ \(1\).png);
    object-fit: cover;
    background-position:center;
    height: 640px;
}
.first-block-items{
    padding: 20% 0;
}
.first-block-contents h3{
    line-height: 120%;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
    font-size: 48px;
    color: var(--clr-white);
}
.first-block-contents p{
    color: var(--clr-white);
    font-size: 20px;
    line-height: 100%;
}
.header-top-btns:first-child{
    background: transparent!important;
   
}
/* second-block */
.second-block-head span{
    position: relative;

   
}
.second-block-head span::before{
    position: absolute;
    content: "";
    background-color: var(--clr-eeric-black);
    display: block;
    width: 50%;
    height: 2px;
    top: 50%;
    
}
.second-block-head span::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--clr-eeric-black);
    top: 50%;
    right: 0; */
    width: 45%;

}
/* ########### x PAGE ############## */