*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: all ease-in-out 300ms;
}

a:focus, a:hover {
  color: unset;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

img, object, embed, video {
  max-width: 100%;
}

button {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

